<h3><%= link_to @section.section_title, section_lessons_path(@lesson)%> / <%= @lesson.lesson_title %></h3>

<% @chapters.each do |chapter| %>

  <p><%= link_to chapter.title, lesson_chapter_path(@chapter.lesson_id, @section) %></p>
<% end %>
